h1 {
	color: #ec6f66;
	margin: 50px 20%!important;
	text-align: center;
	font-size: 25px;
	font-family: monospace;
	font-weight: normal;
}
.wrapper, select, .content, h1, textarea, p {
	display: none;
}

img {
	margin: 0 auto;
	display: block;
}